name: build vite vue app

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  SERVER_PRIVATE_KEY: ${{ secrets.SERVER_PRIVATE_KEY }} # 服务器私钥
  SERVER_HOST: ${{ secrets.SERVER_HOST }} # 服务器IP地址
  USER_NAME: ${{ secrets.USER_NAME }} # 服务器用户名
  cache-name: note

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Checkout
        uses: actions/checkout@master
      # - name: ls
      #   run: |
      #     echo ${{ github.workspace }}
      #     echo $GITHUB_WORKSPACE
      # - name: npm install
      #   run: |
      #     npm install
      #   working-directory: ${{github.workspace}}
      # - name: npm run build
      #   run: |
      #     npm run build
      #   working-directory: ${{github.workspace}}
      # - name: commit push
      #   #执行执行某个shell命令或脚本
      #   run: |
      #     git config --global user.email 443135581@qq.com
      #     git config --global user.name diaoxr
      #     git add .
      #     git commit -m "update"
      #     git push
      # - name: 执行额外脚本111223
      #   run: |
      #     sh test.sh
      - name: Deploy
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ env.SERVER_PRIVATE_KEY }}
          ARGS: '-avz --delete'
          SOURCE: '.'
          REMOTE_HOST: ${{ env.SERVER_HOST }}
          REMOTE_USER: ${{ env.USER_NAME }}
          TARGET: /home/root/egg-web # 服务器目标路径

      - name: ssh exec shell
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: sh /home/root/egg-web/server.sh
          host: ${{ secrets.SERVER_HOST }}
          username: root
          port: 22
          privateKey: ${{ secrets.SERVER_PRIVATE_KEY}}
