name: node server

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  SERVER_PRIVATE_KEY: ${{ secrets.SERVER_PRIVATE_KEY }} # 服务器私钥
  SERVER_HOST: ${{ secrets.SERVER_HOST }} # 服务器IP地址
  USER_NAME: ${{ secrets.USER_NAME }} # 服务器用户名
  cache-name: note

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: 切换工程分支
        uses: actions/checkout@main

      - name: 拷贝资源到服务器
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ env.SERVER_PRIVATE_KEY }}
          ARGS: '-avz --delete'
          SOURCE: '.'
          REMOTE_HOST: ${{ env.SERVER_HOST }}
          REMOTE_USER: ${{ env.USER_NAME }}
          TARGET: /root/egg-web # 服务器目标路径

      - name: 重启node服务
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: sh /root/egg-web/server.sh
          host: ${{ secrets.SERVER_HOST }}
          username: root
          port: 22
          privateKey: ${{ secrets.SERVER_PRIVATE_KEY}}
